---
import "@styles/login.scss"
import Layout from "@layouts/Layout.astro"
import Logo from "@components/assets/Logo.astro"
import Flecha from "@components/assets/arrow.astro"
import UserIcon from "@components/assets/user.astro"
import LockIcon from "@components/assets/password.astro"
---

<Layout title="Iniciar Sesión">
  <main class="login-container">
    <div class="space">  
      <h1>JOCS POS</h1>
      <Logo class="logo"/>
    </div>
    <section class="login-section">
      <div class="welcome">
        <h2>Bienvenido de nuevo</h2>
        <p>Favor de iniciar sesión</p>
      </div>
      <p id="errorMessage" class="error-message"></p>
      <form class="form-container" id="loginForm" action="/login" method="post">
        <div class="textArea">
          <div class="input-wrapper">
            <UserIcon class="input-icon" /> 
            <input type="text" name="username" placeholder="Usuario" required />
          </div>
          <div class="input-wrapper">
            <LockIcon class="input-icon" />
            <input type="password" name="password" placeholder="Contraseña" required />
          </div>
        </div>
        <button type="submit" class="login-btn">
          Iniciar Sesión 
          <Flecha />
        </button>
      </form>
    </section>
  </main>
</Layout>

<script src="@components/scripts/login.js"></script>