---
import BaseHead from "./BaseHead.astro";
const { title, description, image = "/favicon.svg" } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<slot />
	</body>
</html>